# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
# Node modules
node_modules/

# Build outputs/

# Build outputs
dist//
dist-ssr/

# Local env files
.env
.env.* /

# Local env files
.env
.env.* 
*.local

# Editor files
# Editor files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# IntelliJ project file
# IntelliJ project file
/frontend.iml
