# Database
POSTGRES_DB=fisma_db
POSTGRES_USER=myuser
POSTGRES_PASSWORD=secret

# Ports exposed on YOUR HOST 
HOST_DB_PORT=5433
HOST_BACKEND_PORT=8080
HOST_FRONTEND_PORT=5173

# Spring datasource
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/${POSTGRES_DB}
SPRING_DATASOURCE_USERNAME=${POSTGRES_USER}
SPRING_DATASOURCE_PASSWORD=${POSTGRES_PASSWORD}

# Vite config
CHOKIDAR_USEPOLLING=true
VITE_PORT=${HOST_FRONTEND_PORT}
